* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

section {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}


section nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #089da1;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;
    margin-bottom: 30px !important;
}

section nav .logo img {
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

section nav ul {
    list-style: none;
}

section nav li {
    display: inline-block;
    padding: 0 10px;
}

section nav li a {
    text-decoration: none;
    color: #000;
}

section nav li a:hover {
    color: #089da1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrival_2 img {
    width: 30%;
    height: 30%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.arrival_2img {
    transform: scale(1.1);
}

section .main .article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 10%;
    left: 100px;
}

section .main h1 {
    position: relative;
    font-size: 55px;
    top: 80px;
    left: 25px;
    color: #089da1;
}

section .main h1 span {
    color: #089da1;
}

section .main p span {
    width: 650px;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 125px;
    left: 25px;
    color: #089da1;
}

section .main .main_img img {
    width: 100%;
    filter: blur(1.5px);
}

section .main .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #089da1;
    font-weight: bolder;
    font-size: 5ch;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 40%;
    margin-left: 28%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*news*/
.latest_news {
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.latest_news h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
}

.latest_news h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 22px;
}

.latest_news .latest_news_box {
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}

.latest_news .latest_news_box .latest_news_card {
    width: 500px;
    height: 500px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}

.latest_news .latest_news_box .latest_news_card:hover {
    box-shadow: 0 0 5px #089da1;
}

.latest_news .latest_news_box .latest_news_card .latest_news_img img {
    width: 488px;
    height: 300px;
}

.latest_news .latest_news_box .latest_news_card .latest_news_tag h2 {
    margin: 12px;
}

.latest_news .latest_news_box .latest_news_card .latest_news_tag .description {
    color: #000;
    margin-top: 8px;
}


.latest_news .flatest_news_box .latest_news_card .latest_news_tag .f_btn {
    margin-top: 20px;
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: #089da1;
    border-radius: 10px;
}

/*Footer*/

footer {
    width: 100%;
    background: #eaeaea;
}

footer .footer_main {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag {
    margin: 10px 0;
}

footer .footer_main .tag img {
    width: 100px;
    margin-bottom: 10px;
}

footer .footer_main .tag p {
    width: 250px;
    line-height: 22px;
    text-align: justify;
}

footer .footer_main .tag h1 {
    font-size: 25px;
    margin: 25px 0;
    color: #000;
}

footer .footer_main .tag a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
}

footer .footer_main .tag i {
    margin-right: 10px;
}

footer .footer_main .tag .social_link i {
    margin: 0 5px;
}

footer .footer_main .tag .search_bar {
    width: 230px;
    height: 30px;
    background: rgba(202, 202, 202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input {
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    outline: none;
    font-size: 13px;
    background: none;
}

footer .footer_main .tag .search_bar button {
    padding: 7px 15px;
    background: #089da1;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}

footer .end {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #000;
}

footer .end span {
    color: #089da1;
    margin-left: 10px;
}

.library-card-section {
    padding: 50px 0;
    background-color: #f4f4f4;
}

.library-card-form {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20ch;
}

.library-card-form h2 {
    text-align: center;
}

.library-card-form label {
    margin-bottom: 5px;
    display: block;
}

.library-card-form input[type="text"],
.library-card-form input[type="email"],
.library-card-form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.library-card-form input[type="submit"] {
    background-color: #089da1;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.library-card-form input[type="submit"]:hover {
    background-color: #089da1;
}